* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
	margin: 0px;
	padding: 0px;
}
html,body{
	color: #000000;
	font-family: Arial;
	font-weight: 400;
	font-size: 16px;
}
h1{
	font-weight: 300;
	margin-top: 0px;
	line-height: 1.25em;
	font-size: 2.9em;
	color: red;
}
h2{
    margin: 0 0 0.7em;
    line-height: 1.25em;
    font-size: 2.2em;
    font-weight: 700;
}
h3{
	font-weight: 700;
	font-size: 1.4rem;
	margin: 0.7rem 0;
}
h4{
	font-size: 1.1em;
	font-weight: 700;
	margin: 0.75rem 0;
}
.clear {
	clear: both;
}
header {
	text-align: center;
	position: relative;
	padding: 15px;
	border-bottom: 1px solid $light-grey;
	.date {
		position: absolute;
		right: 15px;
		top: 15px;		
	}
}
a {
	text-decoration: none;
	color: $red;
	text-decoration: underline;
	&:hover {
		color: $red;
	}
}
.w_1_of_2 {
	width: 50%;
	float: left;
	padding: 15px 15px;
}
.w_1_of_1 {
	width: 100%;
	float: left;
	padding: 15px 15px;
	
	.content {
		width: 100%;
		float: left;
	}
}
.content {
	border: 1px solid $light-grey;
	padding: 15px;
}
.light_grey {
	color: $light-grey;
}
footer {
	border-top: 1px solid $light-grey;
	width: 100%;
	float: left;
	padding: 15px;
	font-size: 11px;
}
@media screen and (max-width:700px){
	h1 {
	    font-size: 2em;
	    line-height: 1.1em;
	}
	h2{
		font-size: 1.6em;
		line-height: 1em;
	}
	h3{
		font-size: 1rem;
	}
	header {
		padding-top: 35px;
	}	
	.w_1_of_2 {
		width: 100%;
	}
}