* {
	margin: 0px;
	padding: 0px;
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
body {
	line-height: 18px; 
	font-size: 14px;
}
.wrapper {
	max-width: 980px;
	width: 100%;
	margin: 0px auto;
	padding: 0px 15px;
}
input[type="submit"] {
	padding: 7px 15px;
	background: #000;
	color: #fff;
	border: 0px none;
}
input[type="submit"]:hover {
	background: #393939;
	cursor: pointer;
}
.clear {
	clear: both;
}
h1 {
	padding: 20px 0px;
}
#filters {
	float: right;
	margin: 30px 0px;
}
#filters  .box{
	float: left;	
	padding: 5px;
	background: #cdcdcd;
	margin: 1px;
}
ul {
	list-style: none;
	padding: 15px 0px;
}
ul span {
	font-weight: bold;
}
.recipe {
	padding: 0px 0px 15px 0px;
}
#insertRecipe {
	padding: 20px 0px;
	width: 100%;
	max-width: 400px;
}
#insertRecipe .box {
	width: 100%;
	float: left;
	margin: 1px;
}
#insertRecipe .box label {
	width: 40%;
	float: left;
}
#insertRecipe input,
#insertRecipe select,
#insertRecipe textarea {
	width: 60%;
}
#insertRecipe #submit {
	width: 100%;
	margin: 20px 0px;
}